.hero-container video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
}
.hero-container{
    /* background: url('/public/images/img-home.jpg') center center/cover no-repeat; */
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow:  inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
}
.hero-container > h1{
    font-size: 100px;
    color: #fff;
}
.hero-container > p {
    color: #fff;
    font-size: 32px;
}
.hero-btn{
    margin: 20px;
}
.hero-btn .btn{
    margin: 10px;
}
@media (max-width:996px){
    .hero-container > h1{
        font-size: 50px;
    }
}
@media (max-width:575px){
    .hero-container > h1{
        font-size: 25px;
    }
    .hero-container > p{
        font-size: 16px;
    }
    .hero-btn .btn{
        display: block;
        width: 100%;
    }
}